# Rider files
.idea/

# Compiled output
/bin/
/obj/

# Local application files
/appsettings.json
/appsettings.Development.json

# NuGet packages
/packages/

# Visual Studio Code files
.vscode/

# User-specific files
*.userprefs
*.suo
*.sln.docstates